body::before {
    content: "You loaded svg.evil.css which contains one billion laugh svg!";
    position: fixed;
    top: 0;
    left: 0;
    font-size: 12px;
    font-family: "Courier New", serif;
    background-color: rgba(255, 12, 82, 0.75);
    width: 100%;
    text-align: center;
    color: white;
    z-index: 999;
}

body:after{
    content: url("./BillionLaugh.svg");
}
